{% extends 'backend_base.html' %}


{% block content %}
  
  <div class="container py-3 appointment-container">

    
    <h5> Appointments for Today, {{today_date}}</h5>
    
    <div class="article appointment-section">
        
        <table class="table homepage-table">
        <tr>
            <th>Date and Time</th>
            <th>Visitor Name</th>
            <th>Description</th>
        </tr>
        
        {% for appointment in today_appointments %}
        <tr>
            <td><a href="{{appointment.get_absolute_url }}"> <span>{{appointment.date_time}}</span></td>
            <td> <span>{{appointment.visitor_name}}</span></a></td>
            <td>
            {{appointment.description}}
            </td>
            
        
           
        </tr>
        {% endfor %}
        </table>
    </div>

    <hr/>
    <div class="gap-5"> </div>
    
     
   <h5> Upcoming Appointments</h5>
    <div class="article appointment-section">
        <table class="table mt-4">
        <tr>
            <th>Date and Time</th>
            <th>Visitor Name</th>
            <th>Description</th>
            
            
        </tr>
        {% for appointment in upcoming_appointments %}
        <tr>
            <td><a href="{{appointment.get_absolute_url }}"> <span>{{appointment.date_time}}</span></td>
            <td><span>{{appointment.visitor_name}}</span></a></td>
            <td>
            {{appointment.description}}
            </td>
            
        
           
        </tr>
        {% endfor %}
        </table>
    </div>
    <hr/>
    

    
     

    
  </div>
{% endblock %}